body {
  background-color: #333;
  color: #fff; }

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: .8; }

#home-section {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 700px; }
  #home-section .card-form {
    opacity: .8; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .fa {
    color: #008ed6;
    background-color: #fff;
    font-size: 30px;
    padding: 4px;
    border-radius: 5px; }

.explore-section .fa, .share-section .fa {
  color: #fff;
  background-color: #333;
  font-size: 30px;
  border-radius: 5px;
  padding: 4px; }

.create-section .fa {
  color: #008ed6;
  background-color: #fff;
  font-size: 30px;
  padding: 4px;
  border-radius: 5px; }
