// Variables
$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$font-size: 30px;

// Main Style
body{
    background-color: $bg-color;
    color: $font-color;
}

.navbar{
    border-bottom: 3px solid $primary-color;
    opacity: .8;
}
// Header
#home-section{
    background-image: linear-gradient(to right bottom, rgba(black, .6), rgba(black, .7)),
    url('../img/home.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 700px;

    .card-form{
        opacity: .8;
    }

    .home-inner{
        padding-top: 150px;
    }
    .fa{
        color: $primary-color;
        background-color: #fff;
        font-size: $font-size;
        padding: 4px;
        border-radius: 5px;
    }
}

// Explore Section
.explore-section,.share-section{
    .fa{
        color: #fff;
        background-color: #333;
        font-size: $font-size;
        border-radius: 5px;
        padding: 4px;
    }
}

// Create Section
.create-section{
    .fa{
        color: $primary-color;
        background-color: #fff;
        font-size: $font-size;
        padding: 4px;
        border-radius: 5px;
    }
}